* {
    margin: 0;
    padding: 0;
}

.bg-img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

#body {
    width: 100vw;
    height: 100%;
    position: relative;
}

#body>* {
    text-align: center;
}

#game-title {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.8), orange, rgba(0, 128, 0, 0.8), rgba(0, 0, 255, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 255, 0.8), rgba(0, 128, 0, 0.8), rgba(255, 166, 0, 0.8), rgba(255, 0, 0, 0.8));
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 6vw;
    width: 100vw;
}

#main {
    width: 100%;
    max-width: 1000px;
    margin: 15% auto auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 5px;
    position: relative;
}

:root {
    --game-width: 710px;
}

#button-div,
.game-div {
    max-width: var(--game-width);
    margin: 0 auto;
}

#button-div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-div>* {
    margin: 10px;
    padding: 5px;
    border: 0;
    border-radius: 8px;
    height: max-content;
    color: white
}

#start-button {
    background: green;
    font-size: 3.5vw;
}

#restart-button {
    background: rgba(255, 128, 0, 0.83);
}

#close-button {
    background: red;
}

#close-button:hover,
#restart-button:hover {
    background: black;
}

#close-button:hover {
    color: red;
    box-shadow: 0 0 10px red;
}

#close-button:active {
    box-shadow: 0 0 0;
}

#restart-button:hover {
    color: orange;
    box-shadow: 0 0 10px orange;
}

#restart-button:active {
    box-shadow: 0 0 0;
}

#attack-button:active {
    border: 0;
}

#start-button:hover {
    color: orange;
    box-shadow: 0 0 40px orange;
    background: rgb(1, 46, 1);
    font-weight: bold;
}

.game-div {
    display: grid;
    grid-template-columns: 1.2fr 3.5fr 1.5fr;
    grid-template-rows: 1fr;
    width: 99%;
    max-height: 500px;
    height: 95vh;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px orange;
    border-radius: 5px;
    background: black;
    color: white;
    overflow-y: hidden;
    z-index: 2;
}

.game-div>* {
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
}

.game-data>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.game-data>div>p {
    margin-left: 5px;
}

.game-data .name {
    font-size: 150%;
    color: orange;
    border-bottom: 2px solid orange;
    margin-bottom: 5px;
    margin-left: 5px;
}

.outcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    max-height: 500px;
    height: 95vh;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px orange;
    border-radius: 5px;
    background: black;
    color: yellow;
}

.outcome>* {
    width: 100%;
    height: max-content;
    font-size: 130%;
    text-transform: uppercase;
    margin: 20px auto;

}

#defeated-ships {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.destroyed-alien-ships {
    color: red;
    text-decoration: line-through;
    font-size: 12px;
}

.defeated-ships-title {
    border-bottom: 2px solid rgb(5, 190, 5);
    font-size: 25px;
    color: rgb(5, 190, 5);
    width: max-content;
    margin-bottom: 10px;
}

.image {
    max-width: 40%;
}

#my,
#alien {
    position: relative;
}

#highlight {
    max-width: 80%;
    max-height: 100px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: auto;
    /* margin-top: 80%; */
}

.destroyed {
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 1px;
}

.comments {
    color: yellow;
    border-top: 1px solid rgba(211, 211, 211, 0.18);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    text-align: left;
    margin-left: 5px;
    width: 95%;
    font-size: 12px;
}

.alien-ship {
    color: red;
}

.my-ship {
    color: green;
}

#attack-button {
    background: black;
    color: yellow;
    width: max-content;
    padding: 10px 15px;
    margin-top: auto;
    font-size: 14px;
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 0, 0.171);
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.171);
}

.game-img {
    align-items: center;
}

#resume {
    color: red;
    background: transparent;
    width: max-content;
    height: max-content;
    padding: 0 3.5px 0 3px;
    border: 0;
    border-radius: 50%;
    font-size: 55px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

#resume:hover {
    background: red;
    color: black
}

#game-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18%;
    position: relative;
    padding: 0;
}

#aLaser,
#myLaser {
    position: absolute;
    height: max-content;
    background: transparent;
}

#aLaser {
    z-index: -1;
    top: 55%
}

#myLaser {
    z-index: -1;
    bottom: 27%;
}

#aLaser>img,
#myLaser>img {
    max-width: 9%;

}

#aLaser>img {
    transform: rotate(37deg);
}

#myLaser>img {
    transform: rotate(133deg);
}

#missile {
    background: black;
    border-radius: 10px;
    border: 1px solid rgba(183, 9, 9, 0.317);
    box-shadow: 0 0 5px red;
    color: red;
    display: flex;
    justify-content: center;
    padding: 4px;
    cursor: default;
}

#missile:active {
    border: 0;
}

@media(max-width:710px) {

    #restart-button,
    #close-button {
        font-size: 3.5vw;
    }

    .game-div {
        height: 60vh;
        max-height: 500px;
    }

    .game-data {
        width: 20.5vw;
    }

    .game-data .name {
        font-size: 3.2vw;
    }

    .destroyed-alien-ships,
    .comments {
        font-size: 2vw;
    }

    .hull,
    .firepower,
    .accuracy {
        font-size: 2.0vw;
    }

    .image {
        max-width: 60%;
    }

    .defeated-ships-title {
        font-size: 3vw;
    }

    #attack-button {
        font-size: 2.2vw;
        padding: 2vw 3vw;
    }

    @media(max-height: 812px) {
        #game-title {
            font-size: 10vw;
        }

        #main {
            margin-top: 40%;
        }

        #start-button {
            font-size: 8vw;
        }

        .hull,
        .firepower,
        .accuracy {
            font-size: 3vw;
        }
    }
}


.hidden {
    display: none;
}

#resume.hidden,
#close-button.hidden,
#restart-button.hidden,
#missile.hidden {
    display: none;
}